<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>MicroserviceNet graph</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet" type="text/css"/>
    <style>
        html,
        body {
            background-color: aliceblue;
        }

        .dropzone {
            border: 6px dashed #4cac6d;
            border-radius: 5px;
            background: white;
            padding: 150px;
            font-family: "Roboto Thin", sans-serif;
            margin: 20px;
            font-size: 28px;
            font-weight: bold;
        }

        .navbar {
            background-color: #d9ede0;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>

<nav class="navbar">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img alt="Logo"
                 class="d-inline-block align-text-top" height="50"
                 src="https://raw.githubusercontent.com/lisa-analyzer/lisa/master/logo.png">
        </a>
        <h4>Microservice Analyzer</h4>
    </div>
</nav>

<form class="dropzone" enctype="multipart/form-data" id="file-uploader">
    <div class="fallback">
        <input multiple name="file" type="file"/>
    </div>
</form>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script>
    Dropzone.options.fileUploader = {
        url: "/upload",
        method: "post",
        uploadMultiple: true,
        addRemoveLinks: true,
        acceptedFiles: ".py",
        paramName: "file",
        maxFilesize: 2,
        maxFiles: 10,
        parallelUploads: 5,
        dictDefaultMessage: "Drag and drop Python files here...",
        autoProcessQueue: true,
        success: function (file, response) {
            window.location.href = "/loadingscreen";
        }
    };
</script>
</body>
</html>